/* Se importa la libreria de angular material para estilos de hoja*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';


html, body {
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.navbar-menu{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.footer{
flex: 0 0 auto;
background-color: #273746 !important;
position: relative !important;
bottom: 0;
width: 100%;
height: 40px;
color: white;
}